<form [formGroup]="workoutForm" class="workout-form">
  <h2 class="secondary-heading">Create a new workout</h2>
  <div class="workout-form-field">
    <label class="workout-form-label" for="workout-name">Workout Name:</label>
    <input
      class="workout-form-input-text"
      id="workout-name"
      type="text"
      placeholder="What is this workout called"
      formControlName="workoutName"
    />
  </div>
  <div class="workout-form-type-field">
    <h3 class="tertiary-heading">Select type of workout</h3>
    <div class="workout-form-radio-buttons">
      <div class="workout-form-field">
        <label class="workout-form-label" for="resistance">Resistance</label>
        <input
          class="workout-form-input-radio"
          type="radio"
          id="resistance"
          formControlName="workoutType"
          value="resistance"
          checked
        />
      </div>
      <div class="workout-form-field">
        <label class="workout-form-label" for="cardio">Cardio</label>
        <input
          class="workout-form-input-radio"
          type="radio"
          id="cardio"
          formControlName="workoutType"
          value="cardio"
        />
      </div>
    </div>
  </div>
  <div class="workout-form-button-container">
    <button class="cta-btn" type="submit">Save</button>
  </div>
</form>
